{%extends "base.html"%}

{% block content%}

    <section>
        <div class="container">
            <div class="header mb-4 mt-4">
                <h1 class="h3">{% block title %}Crear Blog{% endblock title%}</h1>
            </div>
            <div class="body">
                <form>
                    <div class="mb-3">
                        <label for="url" class="form-label">URL</label>
                        <input type="text" class="form-control" id="url" name="url" required placeholder="ejemplo-title">
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Título</label>
                        <input type="text" class="form-control" id="title" name= "title"required placeholder="Título del blog">
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Descripción</label>
                        <textarea class="form-control" id="desc" name = "desc" required rows="3"
                            placeholder="Breve descripción del blog"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Contenido</label><br>
                        {{ ckeditor.create() }}
                        
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </section>

{% endblock content%}